#transparency_homepage_featured_map,
#transparency_homepage_featured_satellites,
select[id^="transparency_homepage_featured_image-"] {
  height: 400px;
}

#transparency_homepage_featured_in {
  height: 200px;
}

input[type="text"] {
  width: 50%;
}

select[id^="transparency_homepage_"] {
  max-width: 100%;
  white-space: pre-wrap;
}

option:checked {
  outline: 6px solid OliveDrab;
  outline-offset: -6px;
  color: white;
}

select:not(.logo):not(.featured) option {
  height: 12vw;
}

select.logo option,
select.featured option {
  height: calc(12vw / 2);
}

option {
  background-size: contain;
  background-position: center 2vw;
  background-repeat: no-repeat;
  width: calc(16vw - 18px);
  margin: 3px;
  padding-top: 6px;
  display: inline-block;
  color: MediumPurple;
  font-size: 1vw;
  overflow: hidden;
  text-align: center;
}

@media screen and (max-width: 782px) {
  #wpbody .form-table td #transparency_homepage_featured_map,
  #wpbody .form-table td #transparency_homepage_featured_satellites,
  select[id^="transparency_homepage_featured_image-"] {
    height: 400px;
  }

  #wpbody .form-table td #transparency_homepage_featured_in {
    height: 200px;
  }
}
