/* stylelint-disable-next-line */
.addtoany_list {
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 8px;

  @include breakpoint("large") {
    justify-content: start;
  }

  a {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 30px;

    &:hover img {
      filter: invert(46%) sepia(98%) saturate(1040%) hue-rotate(136deg) brightness(89%) contrast(105%);
    }

    img {
      filter: invert(16%) sepia(24%) saturate(3489%) hue-rotate(167deg) brightness(93%) contrast(98%);
      transition: all 0.3s ease-in-out;
    }
  }

  /* stylelint-disable */
  .a2a_button_print img,
  .a2a_button_linkedin img {
    width: 25px;
    height: 25px;
  }

  .a2a_button_email {
    width: 40px;
    height: 35px;
  }

  .a2a_button_email img {
    width: 35px;
    height: 33px;
  }

  .a2a_button_facebook {
    width: 26px;
    height: 25px;
  }

  .a2a_button_facebook img {
    width: 16px;
    height: 25px;
  }

  .a2a_button_twitter img {
    width: 27px;
    height: 25px;
  }
    /* stylelint-enable */
}

.share-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  justify-content: center;

  @include breakpoint("large") {
    justify-content: start;
  }
}

.share-label {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
