html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $color__background-body; /* Fallback for when there is no custom background color defined. */
  -webkit-overflow-scrolling: touch;
}

.site-content {
  margin-top: 30px;

  @include breakpoint("medium") {
    margin-top: 70px;
  }
}

.site-footer {
  clear: both;
  width: 100%;
  margin-top: 50px;
}

@import "header";
@import "footer";
@import "menus";
@import "posts-and-pages";
@import "widgets";
@import "comments";
