.posts-index {
	header.entry-header {
		text-align:center;

		hr {
			max-width:70%;
			margin:1em auto;
		}
	}

	.search-container {
		margin:0px auto 3em auto;
		max-width:70%;

		p {
			font-size: 22px;
			font-family: $font__PTSN;
		}
	}

	article {

		header {
			text-align:left;
		}

		img {
			width:100%;
		}

		h2.entry-title {
			margin-top:0px;
		}
	}

	.more-archives {
		font-size: 24px;
		color: $light-green;
		font-weight:700;
		text-align:center;
	}
}