#content {
  position: relative;
  &:before {
    content: "";
    z-index: -2;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      #fff 40%,
      #fafafa 50%,
      #f5f5f5 75%,
      #f2f2f2 100%
    );
  }

  [class^="margin-"] {
    display: none;
    @include breakpoint("medium") {
      display: block;
    }
  }
  p {
    font-size: 16px;
    font-family: $font__PTS;
    line-height: 1.75;
    @include breakpoint("medium") {
      font-size: 18px;
      line-height: 1.39;
    }
    margin-bottom: 0;
  }

  .feature-image img,
  .island-slideshow-image img,
  .feature-map {
    width: 100%;
  }

  .feature-image img {
    object-fit: cover;
  }

  .island-slideshow-image img {
    object-fit: cover;
    object-position: 100% 100%;
  }

  section.primary {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 100%;
    -ms-grid-columns: 100%;
    justify-content: center;

    @include breakpoint("medium") {
      padding: 0 50px;
      grid-template-columns: repeat(3, minmax(15%, 480px));
      grid-template-rows: 48px 242px 1fr;
      -ms-grid-columns: minmax(15%, 480px) minmax(15%, 480px) minmax(15%, 480px);
      -ms-grid-rows: 48px 242px 1fr;
    }

    & > *:not(.feature-image) {
      padding: 0 20px;
      @include breakpoint("medium") {
        padding: 0;
      }
    }

    p {
      color: $black;
    }

    .feature-image {
      position: relative;

      @include breakpoint("medium") {
        grid-area: 1 / 1 / 3 / 3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;

        &:before {
          right: 100%;
          content: "";
          display: block;
          position: absolute;
          top: 0;
          width: calc((100vw - 100%) / 2);
          height: 100%;
          background-color: $darker-teal;
        }
      }

      img {
        height: 100%;
        min-height: 25vh;

        @include breakpoint("medium") {
          height: 290px;
          min-height: 290px;
        }
      }
    }

    .feature-heading {
      padding: 20px 20px 0 36px;
      align-self: start;
      position: relative;

      @include breakpoint("medium") {
        grid-area: 3 / 1 / 4 / 2;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -ms-grid-row-align: start;
        padding: 30px 0 0 72px;
      }

      &:before {
        content: "";
        opacity: 0.62;
        background-color: $pinkish-grey;
        display: block;
        position: absolute;
        width: 3px;
        height: 125%;
        left: 20px;
        bottom: 0;
        @include breakpoint("medium") {
          left: 48px;
        }
      }

      .feature-subtitle {
        @extend %h5-narrow;
        color: $light-topaz;
      }

      .title-latest {
        @extend %h2-narrow;
        color: $black;
        line-height: 1.2;
        display: block;
        margin-bottom: 0.5rem;
        cursor: pointer;
        &:hover {
          color: $topaz;
        }
      }

      .date {
        @extend %h6-normal;
        color: $black;
      }
    }

    .feature-excerpt {
      padding: 18px 20px 24px 26px;
      border-bottom: solid 1px $pinkish-grey;

      @include breakpoint("medium") {
        grid-area: 3 / 2 / 4 / 3;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        padding: 60px 45px 60px 30px;
        border: none;
      }

      a {
        @extend %h6-narrow-bold;
        color: $topaz;
        white-space: nowrap;
        display: block;
        text-align: center;
        padding-top: 1rem;

        &:hover {
          color: $dark-sea-green;
        }
        @include breakpoint("medium") {
          display: inline-block;
          padding-top: 0;
        }
      }
    }

    .recent-content {
      padding: 32px 26px 64px 20px;
      position: relative;

      @include breakpoint("medium") {
        padding: 32px 26px 0 30px;
        grid-area: 2 / 3 / 4 / 4;
        -ms-grid-row: 2;
        -ms-grid-row-span: 2;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;

        &:before {
          bottom: 100%;
          content: "";
          display: block;
          position: absolute;
          height: 50px;
          left: 0px;
          width: calc((100vw - 100% - 15px) / 2);
          background-color: $darker-teal;
        }
      }

      .section-title {
        @extend %h3-narrow;
        color: #4a4a4a;
      }

      .feature-list {
        .feature {
          display: grid;
          display: -ms-grid;
          grid-template-columns: 60px 1fr;
          -ms-grid-columns: 60px 20px 1fr;
          grid-gap: 0 20px;
          margin-bottom: 30px;
          cursor: pointer;

          &:hover .title-author .title {
            color: $topaz;
          }

          &:hover .date {
            background-color: $dark-sea-green;
          }

          .date {
            grid-area: 1 / 1 / 2 / 2;
            -ms-grid-row: 1;
            -ms-grid-row-span: 1;
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            align-self: start;
            -ms-grid-row-align: start;
            text-align: center;
            border-radius: 60px;
            padding: 9px;
            display: inline;
            background-color: $dark-topaz;
            @extend %h6-normal;
            color: $white;
            line-height: 1;

            @media all and (-ms-high-contrast: none),
              (-ms-high-contrast: active) {
              display: block;
              max-height: 60px;
            }

            span:nth-child(2) {
              font-size: 26px;
              font-weight: bold;
            }
          }

          .title-author {
            grid-area: 1 / 2 / 2 / 3;
            -ms-grid-row: 1;
            -ms-grid-row-span: 1;
            -ms-grid-column: 3;
            -ms-grid-column-span: 1;

            .title {
              @extend %h4-narrow;
              color: $black;
            }

            .authors {
              margin-top: 0.5rem;
              @extend %h6-normal;
              a {
                color: $dark-topaz;
              }
            }
          }
        }
      }

      .button {
        @extend %h6-narrow-bold;
        background-color: $color__background-button-grey;
        border: none;
        color: $black;
        line-height: 0.4em;
        padding: 24px 0;
        text-align: center;
        margin: 1rem auto 0;
        display: block;
        max-width: 300px;
        width: 50vw;

        @include breakpoint("medium") {
          margin: 1rem 0 0;
          width: auto;
          max-width: 125px;
        }

        &:hover {
          color: #fff;
          background-color: #00b29e;
        }
      }
    }
  }

  section.secondary {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 100%;
    -ms-grid-columns: 100%;
    justify-content: center;
    padding: 0 20px;
    overflow: hidden;
    background-image: url(/wp-content/themes/amti/img/mischief_reef_final.png),
      linear-gradient(
        to bottom,
        #fff 5%,
        $darker-blue 5%,
        $darker-blue 45%,
        rgba(0, 0, 0, 0) 45%
      );
    background-repeat: no-repeat, no-repeat;
    background-size: 200vw, 100vw;
    background-position: 0 45%, 0 0;

    .feature-title {
      text-transform: uppercase;
    }

    p:not(.island-maps) {
      color: $pinkish-grey;
    }

    p.island-maps {
      color: $dark-blue-grey;
    }

    @include breakpoint("medium") {
      padding: 3rem 50px 0;
      background-image: none;
      grid-template-columns: repeat(3, minmax(15%, 480px));
      grid-template-rows: repeat(7, minmax(min-content, 84px)) minmax(18vw, 1fr);
      -ms-grid-columns: minmax(15%, 480px) minmax(15%, 480px) minmax(15%, 480px);
      -ms-grid-rows: minmax(min-content, 84px) minmax(min-content, 84px)
        minmax(min-content, 84px) minmax(min-content, 84px)
        minmax(min-content, 84px) minmax(min-content, 84px)
        minmax(min-content, 84px) minmax(18vw, 1fr);
    }

    .island-slideshow-container {
      position: relative;
      background-image: linear-gradient(
        to bottom,
        $darker-blue 90%,
        transparent 100%
      );

      @media screen and (min-width: 992px) {
        grid-area: 1 / 3 / 4 / 4;
        -ms-grid-row: 1;
        -ms-grid-row-span: 3;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        max-height: none;
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        background-color: $darker-blue;
        width: calc(calc((100vw - 100%) / 2) - 50%);
        left: 100%;
      }

      .island-slideshow-image {
        overflow: hidden;
        height: 100%;
        cursor: pointer;

        .frame {
          --n: 1;
          display: flex;
          align-items: top;
          overflow: hidden;
          position: relative;
          z-index: 1;
          width: 100%;
          width: calc(var(--n) * 100%);
          transform: translate(calc(var(--i, 0) / var(--n) * -100%));

          img {
            width: 100%;
            width: calc(100% / var(--n));
            max-height: 400px;
            user-select: none;
            pointer-events: none;
            height: 100%;

            @include breakpoint("medium") {
              max-height: calc(100vw / 3 - 50px * 2);
            }
          }

          @media screen and (min-width: 1080px) {
            height: 100%;
          }

          @media all and (-ms-high-contrast: none),
            (-ms-high-contrast: active) {
            img:nth-child(n + 2) {
              display: none;
            }
          }
        }
      }
    }

    .island-slideshow-slider {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 500px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);

      @media screen and (min-width: 992px) {
        grid-area: 3 / 3 / 4 / 4;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        justify-content: center;
        align-items: start;
        left: 0;
        transform: translateX(0);
      }

      @media screen and (min-width: 1080px) {
        grid-area: 4 / 3 / 5 / 4;
        -ms-grid-row: 4;
        -ms-grid-row-span: 1;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        align-items: center;
      }

      .control {
        color: $white;
        font-size: 33px;
        opacity: 0.5;
        line-height: 33px;
        margin: 0 12px;
        transition: 0.2s ease-in-out;
        cursor: pointer;

        &:hover:not(.active) {
          color: $topaz;
        }

        &.active {
          font-size: 66px;
          opacity: 0.75;
          transition: 0.2s ease-in-out;
        }

        @include breakpoint("medium") {
          font-size: 27px;

          &.active {
            font-size: 54px;
            opacity: 0.75;
            transition: 0.2s ease-in-out;
          }
        }
      }

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        display: -ms-grid;
        text-align: center;
        display: none;
      }
    }

    .island-slideshow-caption {
      @media screen and (min-width: 992px) {
        grid-area: 2 / 3 / 3 / 4;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        align-self: center;
        text-align: center;
        z-index: 1;
      }
      @media screen and (min-width: 1080px) {
        grid-area: 3 / 3 / 4 / 4;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
      }
      @media screen and (min-width: 1230px) {
        grid-area: 3 / 2 / 4 / 3;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        align-self: end;
        -ms-grid-row-align: end;
        text-align: right;
        padding-right: 32px;
        padding: 0 32px 0 96px;
      }

      & > * {
        display: inline-block;

        @include breakpoint("medium") {
          display: block;
        }
      }

      .feature-subtitle {
        @extend %h6-narrow-bold;
        color: $topaz;
      }

      .feature-caption {
        @extend %h7-normal;
        color: $pinkish-grey;
      }
    }

    .island-tracker {
      padding: 36px 0 0 0;

      @include breakpoint("medium") {
        padding: 48px 0 0 48px;
        grid-area: 1 / 2 / 3 / 3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        background-color: $darker-blue;

        .feature-title {
          position: relative;

          &:before {
            content: "";
            height: 3px;
            width: calc(300% - 36px);
            background-color: #cecece;
            opacity: 0.32;
            top: 50%;
            right: calc(-250% - 36px);
            position: absolute;
          }
        }
      }

      .feature-title {
        @extend %h3-narrow-bold;
        color: $white;
      }

      .feature-excerpt {
        padding: 0;

        @include breakpoint("medium") {
          padding: 0 30px 21px 48px;
        }
      }
    }

    .island-claimants {
      padding: 0 0 225px 0;

      @include breakpoint("medium") {
        grid-area: 5 / 2 / 7 / 4;
        -ms-grid-row: 5;
        -ms-grid-row-span: 2;
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
        padding: 0 0 0 84px;
      }

      .feature-description {
        font-style: italic;
        padding: 36px 0;

        @include breakpoint("medium") {
          padding: 0;
        }
      }

      .islands {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 16px 0;
        grid-template-columns: repeat(2, 1fr);

        @include breakpoint("medium") {
          grid-gap: 0;
          grid-template-columns: repeat(3, 1fr);
        }

        .island {
          display: grid;
          display: -ms-grid;
          grid-gap: 0 12px;
          grid-template-columns: minmax(20px, 40px) auto;
          grid-auto-rows: 40px;
          -ms-grid-columns: minmax(20px, 40px) 12px auto;
          -ms-grid-rows: 40px;
          cursor: pointer;

          &:hover .island-shape svg {
            fill: $topaz;
            opacity: 1;
          }

          @include breakpoint("medium") {
            grid-template-columns: minmax(40px, 72px) auto;
            grid-auto-rows: 72px;
            -ms-grid-columns: minmax(40px, 72px) 12px auto;
            -ms-grid-rows: 72px;
          }
          .island-shape {
            height: 83.3%;
            place-self: center end;
            -ms-grid-row-align: center;
            -ms-grid-column-align: end;
            -ms-grid-row: 1;
            -ms-grid-row-span: 1;
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;

            display: inline;
            & svg {
              height: 100%;
              width: auto;
              max-height: 100%;
              max-width: 100%;
              fill: $white;
              opacity: 0.45;
            }
          }

          .island-name {
            @extend %h4-narrow;
            color: $white;
            text-transform: uppercase;
            align-self: center;
            -ms-grid-row-align: center;
            -ms-grid-row: 1;
            -ms-grid-row-span: 1;
            -ms-grid-column: 3;
            -ms-grid-column-span: 1;
            display: inline-block;
          }
          @media all and (-ms-high-contrast: none),
            (-ms-high-contrast: active) {
            max-width: 50%;
            min-width: 33%;
            margin-bottom: 39px;
          }
        }

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          display: flex;
          flex-wrap: wrap;
          flex: 1 1 33%;
          margin-bottom: -39px;
        }
      }
    }

    .island-maps {
      &.feature-heading {
        @include breakpoint("medium") {
          grid-area: 1 / 1 / 2 / 2;
          -ms-grid-row: 1;
          -ms-grid-row-span: 1;
          -ms-grid-column: 1;
          -ms-grid-column-span: 1;
          background-color: transparent;
        }

        .feature-title {
          @extend %h3-narrow-bold;
          color: $dark-blue-grey;
        }

        .feature-description {
          margin-bottom: 6px;
          padding: 0 30px 30px 30px;
          position: relative;

          @include breakpoint("medium") {
            padding: 0 30px 48px 72px;
          }

          &:before {
            content: "";
            opacity: 0.62;
            background-color: $pinkish-grey;
            display: block;
            position: absolute;
            width: 3px;
            height: 100%;
            left: 15px;

            @include breakpoint("medium") {
              height: 150%;
              left: 48px;
            }
          }
        }

        .seeMore {
          margin: 30px 0 48px;
          a {
            @extend %h6-narrow-bold;
            color: $black;
            line-height: 0.4em;
            margin: 0px;
            padding: 12px 35px;
            background-color: #fff;
            border: 1px solid $color__border-input;
            &:hover {
              color: $white;
              background-color: $light-green;
            }
          }
          @include breakpoint("medium") {
            display: none;
          }
        }
      }
      &.feature-map {
        object-fit: cover;
        object-position: 50% 100%;
        max-height: 400px;

        @include breakpoint("medium") {
          grid-area: 2 / 1 / 7 / 2;
          -ms-grid-row: 2;
          -ms-grid-row-span: 5;
          -ms-grid-column: 1;
          -ms-grid-column-span: 1;
          max-height: calc(100vw / 3 - 50px * 2);
        }
      }
    }

    .background {
      grid-row: 5 /10;
      -ms-grid-row: 5;
      -ms-grid-row-span: 5;

      @include breakpoint("medium") {
        margin-left: calc((100vw - 100%) / -2);
        margin-right: calc((100vw - 100%) / -2);
        position: relative;
        z-index: -1;
        display: block;
        grid-area: 3 / 1 / 9 / 6;
        -ms-grid-row: 3;
        -ms-grid-row-span: 6;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;

        &:before {
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          background-image: url(/wp-content/themes/amti/img/mischief_reef_final.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center -6vw;
        }
      }
    }

    .featured-in {
      @include breakpoint("medium") {
        grid-area: 8 / 1 / 9 / 4;
        -ms-grid-row: 8;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        width: 72%;
        align-self: end;
      }

      .section-title {
        @extend %h3-narrow;
        color: #4a4a4a;
        text-align: center;
        margin: 24px 0;

        @include breakpoint("medium") {
          text-align: left;
          margin: 0;
        }
      }

      .line {
        @include breakpoint("medium") {
          height: 1px;
          // background-color: #ff5500;
          margin: 3px 0 15px;
        }
      }

      .logos {
        display: grid;
        justify-items: center;
        grid-gap: 24px 0;

        @include breakpoint("medium") {
          grid-template-rows: repeat(2, 1fr);
          grid-template-columns: repeat(4, max-content);
          grid-gap: 18px 48px;
          align-items: center;
        }

        .logo {
          display: block;
        }
      }
    }
  }
}
