#content {
  background-image: linear-gradient(
    to bottom,
    $white 50%,
    #fafafa 60%,
    #f5f5f5 80%
  );
  [class^="margin-"] {
    display: none;
    @include breakpoint("medium") {
      display: block;
    }
  }
  p {
    font-size: 16px;
    font-family: $font__PTS;
    line-height: 1.75;
    @include breakpoint("medium") {
      font-size: 18px;
      line-height: 1.39;
    }
    margin-bottom: unset;
  }

  .feature-image,
  .island-slideshow-image,
  .feature-map {
    width: 100%;
  }
  .feature-image,
  .island-slideshow-image {
    object-fit: cover;
  }

  section.primary {
    display: grid;

    grid-template-columns: 100%;

    @include breakpoint("medium") {
      grid-template-columns:
        minmax(50px, 1fr) repeat(3, minmax(25%, 480px))
        minmax(50px, 1fr);
      grid-template-rows: 48px 242px 1fr;
    }

    & > *:not(.feature-image) {
      padding: 0 20px;
      @include breakpoint("medium") {
        padding: unset;
      }
    }

    p {
      color: $black;
    }

    .feature-image {
      min-height: 175px;
      @include breakpoint("medium") {
        min-height: 290px;
        grid-area: 1 / 2 / 3 / 4;
        height: unset;
      }
    }
    .feature-heading {
      padding: 20px 20px 0 36px;
      @include breakpoint("medium") {
        grid-area: 3 / 2 / 4 / 3;
        padding: 30px 0 0 72px;
      }
      align-self: start;
      position: relative;
      &:before {
        content: "";
        opacity: 0.62;
        background-color: $pinkish-grey;
        display: block;
        position: absolute;
        width: 3px;
        height: 125%;
        left: 20px;
        bottom: 0;
        @include breakpoint("medium") {
          left: 48px;
        }
      }

      .feature-subtitle {
        @extend %h5-narrow;
        color: $light-topaz;
      }
      .title-latest {
        @extend %h2-narrow;
        color: $black;
        cursor: pointer;
        &:hover {
          color: $topaz;
        }
      }

      .date {
        @extend %h6-normal;
        color: $black;
      }
    }

    .feature-excerpt {
      padding: 18px 20px 24px 26px;
      border-bottom: solid 1px $pinkish-grey;
      @include breakpoint("medium") {
        padding: 18px 45px 60px 30px;
        grid-area: 3 / 3 / 4 / 4;
        padding: 60px 45px 60px 30px;
        border: none;
      }

      a {
        @extend %h6-narrow-bold;
        color: $topaz;
        white-space: nowrap;
        display: block;
        text-align: right;
        &:hover {
          color: $dark-sea-green;
        }
        @include breakpoint("medium") {
          display: inline-block;
        }
      }
    }

    .recent-content {
      padding: 32px 26px 0 20px;
      @include breakpoint("medium") {
        padding-left: 30px;
        grid-area: 2 / 4 / 4 / 5;
      }

      .section-title {
        @extend %h3-narrow;
        color: #4a4a4a;
      }
      .feature-list {
        .feature {
          display: grid;

          grid-template-columns: 60px 1fr;
          grid-gap: 0 20px;
          margin-bottom: 30px;
          cursor: pointer;

          &:hover .title-author .title {
            color: $topaz;
          }

          &:hover .date {
            background-color: $dark-sea-green;
          }

          .date {
            grid-area: 1 / 1 / 2 / 2;
            align-self: start;
            text-align: center;
            border-radius: 60px;
            padding: 9px;
            display: inline;
            background-color: $dark-topaz;
            @extend %h6-normal;
            color: $white;
            line-height: 1;
            span:nth-child(2) {
              font-size: 26px;
              font-weight: bold;
            }
          }

          .title-author {
            grid-area: 1 / 2 / 2 / 3;
            .title {
              @extend %h4-narrow;
              color: $black;
            }
            .authors {
              margin-top: 14px;
              @extend %h6-normal;
              a {
                color: $dark-topaz;
              }
            }
          }
        }
      }
      button {
        @extend %h6-narrow-bold;
        margin: 0 42px 64px;
        width: -moz-available;
        width: -webkit-fill-available;
        width: fill-available;
        @include breakpoint("medium") {
          margin: 0;
          width: unset;
        }
      }
    }

    .margin-left {
      @include breakpoint("medium") {
        grid-area: 1 / 1 / 3 / 2;
        background-color: $dark-teal;
      }
    }

    .margin-right {
      @include breakpoint("medium") {
        grid-area: 1 / 4 / 2 / 6;
        background-color: $dark-teal;
      }
    }
    .margin-bottom {
      @include breakpoint("medium") {
        grid-area: 4 / 1 / 5 / 6;
        height: 75px;
      }
    }
  }
  section.secondary {
    display: grid;
    grid-template-columns: 100%;
    background-image: url(/wp-content/themes/amti/img/mischief_reef_final.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 84px;
    padding: 0 20px;
    overflow: hidden;

    .feature-title {
      text-transform: uppercase;
    }
    p:not(.island-maps) {
      color: $pinkish-grey;
    }

    p.island-maps {
      color: $dark-blue-grey;
    }

    @include breakpoint("medium") {
      padding: unset;
      background-size: 100%;
      background-position: 0 24vw;

      grid-template-columns:
        minmax(50px, 1fr) repeat(3, minmax(25%, 480px))
        minmax(50px, 1fr);

      grid-template-rows: repeat(7, minmax(min-content, 84px)) minmax(
          31.25vw,
          1fr
        );
    }

    @include breakpoint("large") {
      background-position: 0 12vw;
    }
    @include breakpoint("x-large") {
      background-position: 0 9vw;
    }
    @include breakpoint("x-large") {
      background-position: 0 6vw;
    }

    .island-slideshow-image {
      @include breakpoint("medium") {
        grid-area: 1 / 4 / 4 / 5;
        height: 100%;
        position: relative;
        z-index: 1;
      }
      height: auto;
    }

    .island-slideshow-slider {
      display: grid;
      grid-gap: 18px;

      grid-template-columns: repeat(4, auto);
      justify-content: space-around;

      align-items: center;
      @include breakpoint("medium") {
        justify-content: center;
        grid-area: 4 / 4 / 5 / 5;
      }
      .control {
        color: $white;
        font-size: 33px;
        opacity: 0.5;
        line-height: 0.5;
        transition: 0.2s ease-in-out;
        cursor: pointer;
        &:hover:not(.active) {
          color: $topaz;
        }

        &.active {
          font-size: 66px;
          opacity: 0.75;
          transition: 0.2s ease-in-out;
        }
        @include breakpoint("medium") {
          font-size: 27px;

          &.active {
            font-size: 54px;
            opacity: 0.75;
            transition: 0.2s ease-in-out;
          }
        }
      }
    }

    .island-slideshow-caption {
      @include breakpoint("medium") {
        grid-area: 3 / 3 / 4 / 4;
        align-self: end;
        text-align: right;
        padding-right: 32px;
      }

      & > * {
        display: inline-block;
        @include breakpoint("medium") {
          display: block;
        }
      }

      .feature-subtitle {
        @extend %h6-narrow-bold;
        color: $topaz;
      }
      .feature-caption {
        @extend %h7-normal;
        color: $pinkish-grey;
      }
    }

    .island-tracker {
      padding: 36px 0 0 0;
      @include breakpoint("medium") {
        padding: 48px 0 0 48px;
        grid-area: 1 / 3 / 3 / 4;
        background-color: $darker-blue;

        .feature-title {
          position: relative;
          &:before {
            content: "";
            height: 3px;
            width: calc(300% - 36px);
            background-color: #cecece;
            opacity: 0.32;
            top: 50%;
            right: calc(-250% - 36px);
            position: absolute;
          }
        }
      }

      .feature-title {
        @extend %h3-narrow-bold;
        color: $white;
      }
      .feature-excerpt {
        padding: 0;
        @include breakpoint("medium") {
          padding: 0 30px 21px 48px;
        }
      }
    }

    .island-claimants {
      padding: 0 0 225px 0;
      @include breakpoint("medium") {
        grid-area: 5 / 3 / 7 / 5;
        padding: 0 0 0 84px;
      }
      .feature-description {
        font-style: italic;
        padding: 36px 0;
        @include breakpoint("medium") {
          padding: 0;
        }
      }

      .islands {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 39px 0;

        grid-template-columns: repeat(2, 1fr);
        @include breakpoint("medium") {
          grid-template-columns: repeat(3, 1fr);
        }
        .island {
          display: grid;
          grid-gap: 0 12px;
          grid-template-columns: minmax(20px, 40px) auto;
          grid-auto-rows: 40px;
          cursor: pointer;

          &:hover .island-shape svg {
            fill: $topaz;
            opacity: 1;
          }

          @include breakpoint("medium") {
            grid-template-columns: minmax(40px, 72px) auto;
            grid-auto-rows: 72px;
          }
          .island-shape {
            place-self: center end;
            height: 83.3%;
            & svg {
              height: 100%;
              width: auto;
              max-height: 100%;
              max-width: 100%;
              fill: $white;
              opacity: 0.45;
            }
          }

          .island-name {
            @extend %h4-narrow;
            color: $white;
            text-transform: uppercase;
            align-self: center;
          }
        }
      }
    }

    .island-maps {
      &.feature-heading {
        @include breakpoint("medium") {
          grid-area: 1/2/2/3;
          background-color: $white;
        }

        .feature-title {
          @extend %h3-narrow-bold;
          color: $dark-blue-grey;
        }
        .feature-description {
          margin-bottom: 6px;
          padding: 0 30px 30px 30px;
          position: relative;
          @include breakpoint("medium") {
            padding: 0 30px 48px 72px;
          }
          &:before {
            content: "";
            opacity: 0.62;
            background-color: $pinkish-grey;
            display: block;
            position: absolute;
            width: 3px;
            height: 100%;
            left: 15px;
            @include breakpoint("medium") {
              height: 115%;
              left: 48px;
            }
          }
        }

        .seeMore {
          margin: 30px 0 48px;
          a {
            @extend %h6-narrow-bold;
            color: $black;
            line-height: 0.4em;
            margin: 0px;
            padding: 12px 35px;
            background-color: #fff;
            border: 1px solid #fff;
          }
          @include breakpoint("medium") {
            display: none;
          }
        }
      }
      &.feature-map {
        height: auto;
        @include breakpoint("medium") {
          grid-area: 2/2/7/3;
        }
      }
    }

    .margin-left {
      @include breakpoint("medium") {
        grid-area: 1 / 1 / 3 / 2;
        background-color: $white;
      }
    }

    .margin-right {
      @include breakpoint("medium") {
        grid-area: 1 / 5 / 3 / 6;
        background-color: $darker-blue;
      }
    }

    .featured-in {
      @include breakpoint("medium") {
        grid-area: 8 / 2 / 9 / 5;
        width: 72%;
        align-self: end;
      }
      .section-title {
        @extend %h3-narrow;
        color: #4a4a4a;
        text-align: center;
        @include breakpoint("medium") {
          text-align: left;
        }
      }
      .line {
        @include breakpoint("medium") {
          height: 1px;
          background-color: #ff5500;
          margin: 3px 0 15px;
        }
      }
      .logos {
        display: grid;
        justify-items: center;

        grid-gap: 24px 0;
        @include breakpoint("medium") {
          grid-template-rows: repeat(2, 1fr);
          grid-template-columns: repeat(4, max-content);
          grid-gap: 18px 48px;
          align-items: center;
        }

        .logo {
          display: block;
        }
      }
    }
  }
}
