#homepage-slider-container {
    font-family: $font__PTSN;

    .menu-home-page-slider-container {
        max-width: 35%;
        height: 100%;
        overflow: visible;
        padding: 8% 50px;
        top: 0px;
        background: rgba(10, 10, 10, 0.70196);
        float: right;
        margin-right: 5%;

        .menu {
            padding: 0;
            margin: 0;
            list-style: none;
            font-size: 24px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0.2px;
            width:100%;

            li {
                margin-bottom:30px;
                opacity: 0.5;
                @include transition(opacity .3s ease-in-out);

                &:hover,&:active, &.activeItem {
                    opacity: 1;
                }
            }

            a {
                color: $white;
            }

            .description {
                font-size: 16px;
                font-weight: 700;
                letter-spacing: 0.6px;
            }
        }
    }

    .feature-background {
        height: 560px;
        background-size: cover;
        position: relative;
        background-repeat:no-repeat;
        background-position:50% 50%;

        .overlay {
            background: rgba(0, 0, 0, 0.43);
            width:100%;
            height:100%;
        }
    }

    .featuredItem {
        z-index: 6;
        max-width: 55%;
        height: 100%;
        white-space: normal;
        line-height: 1em;
        border-width: 0px;
        margin: 0px;
        padding: 10% 0px 10% 10%;
        letter-spacing: 0px;
        font-weight: 400;
        font-size: 4em;
        position: absolute;
        color: $white;
    }

    .description {
        color: $light-green;
        font-size: 22px;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 5px;
        white-space: nowrap;
        line-height:20px;
    }

    a.seeMore {
        line-height: 17px;
        margin: 0px;
        padding: 12px 35px;
        letter-spacing: 2px;
        text-transform:uppercase;
        background-color:$white;
        color: $black;
        font-size:13px;
        font-weight:700;
        font-family: $font__PTS;
        border:1px solid $white;

        &:hover {
            color: $white;
            background-color: $light-green;
        }
    }
}

// Mobile Styles for Slider
@media screen and (max-width: 768px) { 
    .menu-home-page-slider-container {display:none !important;}
    .featuredItem {
        max-width:100% !important;
        padding:10% 10% 10% 30% !important;
    }

}