.island-tracker {
	h1 {
		text-align:center;
	}

	h2 a {
		color:$dark-blue;
		font-style:italic;
	}
}

.post-type-archive-island-tracker {
	a {
		display:block;
	}
	.country-listing {
		width:100%;
		height:400px;
		background-repeat:no-repeat;
		background-size:cover;
		margin-bottom:20px;
	}

	div.title {
	    position: relative;
	    font-size: 35px;
	    line-height: 47px;
	    color: $white;
	    font-weight: 800;
	    z-index: 2 !important;
	    text-transform: uppercase;
	    width: 100%;
	    top:333px;
	    padding: 10px;
	    background-color:$light-green;

	    &:hover, &:active, &:focus {
	    	background-color:$dark-blue;
	    }
	}
}


div.anchor-links {
	width: 100%;
	text-align: center;
}