#mapContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: calc(100vw - 4rem);
  margin: auto;

  .map {
    display: block;
    overflow: hidden;
    height: 400px;
    position: relative;
    flex-basis: 100%;
    margin-bottom: 2rem;
    cursor: pointer;

    @include breakpoint("small") {
      flex-basis: calc(50% - 2rem);

      &:nth-child(even) {
        margin-left: 2rem;
      }
    }

    .background {
      display: block;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      transition: transform 0.3s ease-in-out;
      -moz-transition: transform 0.3s ease-in-out;
      -ms-transition: transform 0.3s ease-in-out;
      -o-transition: transform 0.3s ease-in-out;
      -webkit-transition: transform 0.3s ease-in-out;
    }

    &:hover .background {
      transform: scale(1.1, 1.1);
    }

    &:hover span.title,
    &:active span.title,
    &:focus span.title {
      background-color: $dark-blue;
    }
  }

  span.title {
    display: block;
    position: absolute;
    font-size: 35px;
    line-height: 47px;
    color: $white;
    font-weight: 800;
    z-index: 2 !important;
    text-transform: uppercase;
    width: 100%;
    bottom: 0em;
    padding: 10px;
    background-color: $light-green;
    transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
  }
}
