// Rem output with px fallback
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Clearfix
@mixin clearfix() {
  content: "";
  display: table;
  table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
  clear: both;
}

// Breakpoints
@mixin breakpoint($break) {
  @if $break == xx-large {
    @media screen and (min-width: 2560px) {
      @content;
    }
  } @else if $break == x-large {
    @media screen and (min-width: 1600px) {
      @content;
    }
  } @else if $break == large {
    @media screen and (min-width: 1280px) {
      @content;
    }
  } @else if $break == medium {
    @media screen and (min-width: 992px) {
      @content;
    }
  } @else if $break == small {
    @media screen and (min-width: 768px) {
      @content;
    }
  } @else {
    @media ($break) {
      @content;
    }
  }
}

// Transitions
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
